<!-- Help setting up if you need it - remove this line and the next one once you're up and running -->
<!-- Start of 'guess-the-sound'' interactive -->
<noscript>
    <span class='GuiNoScript'>Please <a href='http://enable-javascript.com/'>enable JavaScript</a> to view this interactive feature</span>
    <style type='text/css'>#GuiGuess-the-sound { display: none; }</style>
</noscript>


<figure class="gu-interactive" data-interactive="<%= projectUrl %>/boot.js">
    <p>Dummy fig. content</p>
</figure>

        <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
<script>
    require(['<%= projectUrl %>boot.js'], function(app) {
        var el = document.querySelector('.gu-interactive');
        app.boot(el, window, {}, {});
    });
</script>
