<!-- Help setting up if you need it - remove this line and the next one once you're up and running -->
<a href='/readme'>README!</a>


<!-- Start of 'guess-the-sound'' interactive -->
<noscript>
    <span class='GuiNoScript'>Please <a href='http://enable-javascript.com/'>enable JavaScript</a> to view this interactive feature</span>
    <style type='text/css'>#GuiGuess-the-sound { display: none; }</style>
</noscript>


<figure class="interactive" data-interactive="http://path/to/interactive/boot.js">
    <p>Dummy fig. content</p>
</figure>

<script>
    curl = { apiName: "require", apiContext: window.$namespace };
</script>
<script src="<%= projectUrl %><%= versionDir %>js/lib/curl.js"></script>

<script>
    require(['boot.js'], function(Interactive) {
        var el = document.querySelector('.interactive');
        var context = window;
        var config = {};
        var mediator = {};

        Interactive.boot(el, context, config, mediator);
    });
</script>
