<!-- Help setting up if you need it - remove this line and the next one once you're up and running -->
<!-- Start of 'guess-the-sound'' interactive -->
<noscript>
    <span class='GuiNoScript'>Please <a href='http://enable-javascript.com/'>enable JavaScript</a> to view this interactive feature</span>
    <style type='text/css'>#GuiGuess-the-sound { display: none; }</style>
</noscript>


<figure class="gu-interactive" data-interactive="<%= projectUrl %>/boot.js">
    <p>Dummy fig. content</p>
</figure>


<script>
	var guiReq = require.config({
		context: 'interactive',
		baseUrl: '<%= projectUrl %>'
	});
	
    guiReq(['boot.js'], function(Interactive) {
        var el = document.querySelector('.gu-interactive');
        var context = window;
        var config = {};
        var mediator = {};

        Interactive.boot(el, context, config, mediator);
    });
</script>
