@import "base";

$break-landscape: 600px;
$green: #6CA843;
$btn-padding: 10px;
$btn-margin: 15px;
$edge-border: 10px;
$sans-font:  'Guardian Sans Web', sans-serif;
$serif-font: 'Guardian Egyptian Web', serif;

.GI_BL_wrapper {

  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

  background: #000;
  color: #FFF;
  overflow: hidden;
  font-size: 18px;

  .GI_BL_round_wrapper {
    position: relative;
    overflow: hidden;
  }

  .GI_BL_question_wrapper {
    padding: 0 0.7rem;
    font-family: $serif-font;

    @media (min-width: $break-landscape) {
      width: 70%;
      float: right;
    }

    .GI_BL_question {
      font-size: 21px;
    }

    .GI_BL_answer_btn {
      cursor: pointer;
      background: #005689;
      padding: $btn-padding;
      text-align: center;
      margin: $btn-margin 0;

      &.correct {
        background-color: #6CA843;
      }

      &.wrong {
        background: #D84B27;
      }

      &.disabled {
        background: #B3B3B4;
      }
    }
  }


  .GI_BL_header {
    font-family: $sans-font;
    font-size: 18px;
    overflow: hidden;
    padding: 6px 15px;
    height: 36px;
  }

  .GI_BL_rounds {
    float: left;
  }

  .GI_BL_score {
    color: #999;
    float: right;
  }

  .GI_BL_score_value {
    color: #FFF;
  }

  .GI_BL_audio_wrapper {
    background: #333;
    text-align: center;
    padding: 2rem 0;

    .GL_BL_play_progress {
      width: 90px;
      height: 90px;

      @media (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi) {
        width: 210px;
        height: 210px;
      }
    }

    .GL_BL_play_btn {
      display: block;
      width: 90px;
      height: 90px;
      margin: 0 auto;
      cursor: pointer;
      background: transparent url('../files/images/play_button.png') 50% 50%;
      background-size: cover;


      @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
          width: 210px;
          height: 210px;
          background-image: url('../files/images/play_buttonx2.png');
      }

      @media (min-width: $break-landscape) {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -45px;
        margin-top: -45px;
      }
    }

    @media (min-width: $break-landscape) {
      width: 30%;
      position: absolute;
      height: 100%;
    }
  }

  .GI_BL_answer_wrapper {
    position: relative;

    .GI_BL_answer_image {
      background-size: cover;
      background-position: 50% 50%;
      height: 400px;
      width: 100%;

    }
    .GI_BL_answer_description {
      margin: $btn-margin;
      @media (min-width: $break-landscape) {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: $btn-margin;
        background: #000;
      }
    }
    .GI_BL_next {
      font-family: $sans-font;
      padding: $btn-padding;
      background-color: $green;
      text-align: right;
      cursor: pointer;
    }
  }


  .GI_BL_end_wrapper {
    background-color: #FFF;
    color: #999;
    display: none;
    font-family: $serif-font;

    .GI_BL_result_text {
      padding: $edge-border;
    }

    .GI_BL_result_text p {
      line-height: 24px;
    }

    .GI_BL_result {
      color: #222;
    }

    .GI_BL_social {
      overflow: hidden;
    }

    .GI_BL_social_link {
      background: transparent url(../files/images/social@1x.png) 0 0 no-repeat;
      width:60px;
      height: 36px;
      cursor: pointer;
      display: block;
      float: left;
      margin-right: 10px;
    }

    .GI_BL_twitter {
      background-position: -160px 0;
    }
    .GI_BL_facebook {
      background-position: -80px 0;
    }

    .GI_BL_google {
      background-position: -240px 0;
    }

    .GI_BL_tracklist {
      list-style-type: none;
      list-style-position: inside;
      margin: 0;
      padding: 0;
    }

    .GI_BL_track {
      background: #000;
      border-top: 1px solid #B3B3B4;
      clear: both;
      overflow: hidden;
      padding: 15px;
      font-family: $sans-font;

      .GI_BL_track_title {
        display: block;
        color: #FFF;
        font-weight: bold;
        margin-left: 65px;
        font-family: $serif-font;
        margin-top: 3px;

        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
          margin-left: 115px;
        }
      }

      .GI_BL_circular_progress {
        float: left;
        background: transparent url('../files/images/play_button.png') 50% 50%;
        background-size: cover;
        margin-right: 10px;
        cursor: pointer;
        width: 50px;
        height: 50px;

          @media (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi) {
            width: 100px;
            height: 100px;
          }
      }

      &:first-child {
        border: none;
      }

      p {
        margin: 0;
        flaot: left;
      }
    }
  }
}
