@import "base";

$break-landscape: 600px;
$green: #6CA843;
$btn-padding: 0.5rem;

.GI_BL_wrapper {

  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

  background: #000;
  color: #FFF;
  overflow: hidden;

  .GI_BL_question_wrapper {
    padding: 0 0.7rem;

    @media (min-width: $break-landscape) {
      width: 50%;
      float: right;
    }

    .GI_BL_answer_btn {
      cursor: pointer;
      background: #005689;
      padding: $btn-padding;
      text-align: center;
      margin: 1rem 0;

      &.correct {
        background-color: #6CA843;
      }

      &.wrong {
        background: #D84B27;
      }

      &.disabled {
        background: #B3B3B4;
      }
    }
  }


  .GI_BL_header {
    overflow: hidden;
    font-family: sans-serif;
    padding: 0.5rem 0.7rem;
  }

  .GI_BL_rounds {
    float: left;
  }

  .GI_BL_score {
    color: #999;
    font-size: 0.8rem;
    float: right;
  }

  .GI_BL_score_value {
    color: #FFF;
    font-size: 1rem;
  }

  .GI_BL_audio_wrapper {
    background: #333;
    text-align: center;
    padding: 2rem 0;

    .GL_BL_play_btn {
      display: block;
      width: 90px;
      height: 90px;
      margin: 0 auto;
      cursor: pointer;
      background: transparent url('../files/images/button@1x.png') -215px 0;

      @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
          width: 210px;
          height: 210px;
          background: transparent url('../files/images/button@2x.png') 0 0;
      }
    }

    @media (min-width: $break-landscape) {
      width: 50%;
      float: left;
    }
  }

  .GI_BL_answer_wrapper {
    .GI_BL_answer_image {
      background-size: cover;
      background-position: 50% 50%;
      height: 400px;
      width: 100%;

    }
    .GI_BL_answer_description {
      margin: 1rem;
    }
    .GI_BL_next {
      padding: $btn-padding;
      background-color: $green;
      text-align: right;
      font-family: sans-serif;
      cursor: pointer;
    }
  }


  .GI_BL_end_wrapper {
    background-color: #EEE;
    color: #999;

    .GI_BL_result {
      color: #222;
    }
  }
}
